header {
  padding-top: 20px;
}

.logo {
  cursor: pointer;
  background-image: url(../../assets/icons/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  transform: translate(41px, 1px) scale(1.14);
  height: 40px;
}

.user {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__notifer {
    cursor: pointer;
    background-image: url(../../assets/icons/notifer.svg);
    background-size: cover;
    transform: translate(-41px, -1px) scale(0.8);
    width: 30px;
    height: 30px;
  }

  &__avatar {
    cursor: pointer;
    background-image: url(../../assets/images/avatar.png);
    background-size: cover;
    transform: translateX(-15px);
    border-radius: 13px;
    width: 35px;
    height: 35px;
    transition: 0.3s;

    &:hover {
      box-shadow: 11px 11px 20px 0px #EDEEEE;
      transition: 0.3s;
    }
  }
}
