<footer class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg offset-lg-2 project-links">
      <div class="logo"></div>
      <div class="social-links">
        <div class="facebook"></div>
        <div class="instagram"></div>
        <div class="linkedin"></div>
        <div class="twitter"></div>
      </div>
    </div>
    <div class="col-6 col-lg categories">
      <h3>categories</h3>
      <ul>
        <li>menu</li>
        <li>popular restaurant</li>
        <li>new items</li>
        <li>review</li>
        <li>categories</li>
      </ul>
    </div>
    <div class="col-6 col-lg useful-links">
      <h3>useful links</h3>
      <ul>
        <li>payment&tax</li>
        <li>terms of service</li>
        <li>my account</li>
        <li>return policy</li>
      </ul>
    </div>
    <div class="col-12 col-lg-4 contacts">
      <h3>stay connected</h3>
      <div class="email-field">
        <input type="text" placeholder="e-mail address">
        <button>submit</button>
      </div>
      <div class="tel">
        <span>+1 (800) 695 - 0700</span>
      </div>
      <div class="mail">
        <span>Support@Itrestaurant.com</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg offset-lg-2">
      <p class="copyright">
        copyright &#169; 2021. all rights reserved.
      </p>
    </div>
    <div class="col-12 col-lg offset-lg-2">
      <p class="designer">
        desing by <strong>delemont studio</strong>
      </p>
    </div>
  </div>
</footer>
