<aside>
  <h2>categories</h2>
  <div class="categories">
    <div class="categories__card active">
      <div class="categories__card__iconplace">
        <div class="icon pizza"></div>
      </div>
      <div class="categories__card__info">
        <span>pizza</span>
        <p>7 items</p>
      </div>
    </div>

    <div class="categories__card">
      <div class="categories__card__iconplace">
        <div class="icon burger"></div>
      </div>
      <div class="categories__card__info">
        <span>burger</span>
        <p>3 items</p>
      </div>
    </div>

    <div class="categories__card">
      <div class="categories__card__iconplace">
        <div class="icon pasta"></div>
      </div>
      <div class="categories__card__info">
        <span>pasta</span>
        <p>3 items</p>
      </div>
    </div>

    <div class="categories__card">
      <div class="categories__card__iconplace">
        <div class="icon cake"></div>
      </div>
      <div class="categories__card__info">
        <span>cake</span>
        <p>3 items</p>
      </div>
    </div>
  </div>
  <button><span>add</span></button>
</aside>
