<div class="container-fluid">
  <div class="row cards">

    <div class="col-6 col-md-4 col-xl-3">
      <div class="food-card">
        <div class="food-card__image pizza1"></div>
        <div class="food-card__info">
          <div class="food-card__info__main">
            <p>italian pizza</p>
            <span class="price">$35</span>
          </div>
          <div class="food-card__info__rest">
            <div class="orders-count">
              <p>take orders:</p>
              <span>40</span>
            </div>
            <div class="revenue">
              <p>revenue:</p>
              <span>$1200</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 col-xl-3">
      <div class="food-card">
        <div class="food-card__image pizza2"></div>
        <div class="food-card__info">
          <div class="food-card__info__main">
            <p>365 pizza</p>
            <span class="price">$35</span>
          </div>
          <div class="food-card__info__rest">
            <div class="orders-count">
              <p>take orders:</p>
              <span>40</span>
            </div>
            <div class="revenue">
              <p>revenue:</p>
              <span>$1200</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 col-xl-3">
      <div class="food-card">
        <div class="food-card__image pizza3"></div>
        <div class="food-card__info">
          <div class="food-card__info__main">
            <p>mexican pizza</p>
            <span class="price">$35</span>
          </div>
          <div class="food-card__info__rest">
            <div class="orders-count">
              <p>take orders:</p>
              <span>40</span>
            </div>
            <div class="revenue">
              <p>revenue:</p>
              <span>$1200</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 col-xl-3">
      <div class="food-card">
        <div class="food-card__image pizza4"></div>
        <div class="food-card__info">
          <div class="food-card__info__main">
            <p>new york pizza</p>
            <span class="price">$35</span>
          </div>
          <div class="food-card__info__rest">
            <div class="orders-count">
              <p>take orders:</p>
              <span>40</span>
            </div>
            <div class="revenue">
              <p>revenue:</p>
              <span>$12200</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 col-xl-3">
      <div class="food-card">
        <div class="food-card__image pizza5"></div>
        <div class="food-card__info">
          <div class="food-card__info__main">
            <p>louis pizza</p>
            <span class="price">$35</span>
          </div>
          <div class="food-card__info__rest">
            <div class="orders-count">
              <p>take orders:</p>
              <span>40</span>
            </div>
            <div class="revenue">
              <p>revenue:</p>
              <span>$1200</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 col-xl-3">
      <div class="food-card">
        <div class="food-card__image pizza6"></div>
        <div class="food-card__info">
          <div class="food-card__info__main">
            <p>california pizza</p>
            <span class="price">$35</span>
          </div>
          <div class="food-card__info__rest">
            <div class="orders-count">
              <p>take orders:</p>
              <span>40</span>
            </div>
            <div class="revenue">
              <p>revenue:</p>
              <span>$1200</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 col-md-4 col-xl-3">
      <div class="food-card">
        <div class="food-card__image pizza7"></div>
        <div class="food-card__info">
          <div class="food-card__info__main">
            <p>deluxe veggie</p>
            <span class="price">$35</span>
          </div>
          <div class="food-card__info__rest">
            <div class="orders-count">
              <p>take orders:</p>
              <span>40</span>
            </div>
            <div class="revenue">
              <p>revenue:</p>
              <span>$1200</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
