/* You can add global styles to this file, and also import other style files */
* {
  font-family: sans-serif;
  text-transform: capitalize;
}

body {
  background-image: url(./assets/images/background.jpg);
  background-image: image-set(
    url(./assets/images/background.jpg) 1x,
    url(./assets/images/background2x.jpg) 2x
  );
  background-size: cover;
}
