<nav class="container-fluid">
  <div class="container navlist">
    <div class="row nav-items">
      <div class="col-6 col-sm-3 col-lg-2 navlist__item active dashboard">
        <p>dashboard</p>
      </div>
      <div class="col-6 col-sm-3 col-lg-2 navlist__item reservation">
        <p>reservation</p>
      </div>
      <div class="col-6 col-sm-3 col-lg-2 navlist__item food-menu">
        <p>food menu</p>
      </div>
      <div class="col-6 col-sm-3 col-lg-2 navlist__item employeer">
        <p>employeer</p>
      </div>
      <div class="col-6 col-sm-3 col-lg-2 navlist__item accounting">
        <p>accounting</p>
      </div>
      <div class="col-6 col-sm-3 col-lg-2 navlist__item help-center">
        <p>help center</p>
      </div>
    </div>
  </div>
</nav>
