<nav class="container-fluid">
  <div class="container navlist">
    <div class="navlist__item active dashboard">
      <p>dashboard</p>
    </div>
    <div class="navlist__item reservation">
      <p>reservation</p>
    </div>
    <div class="navlist__item food-menu">
      <p>food menu</p>
    </div>
    <div class="navlist__item employeer">
      <p>employeer</p>
    </div>
    <div class="navlist__item accounting">
      <p>accounting</p>
    </div>
    <div class="navlist__item help-center">
      <p>help center</p>
    </div>
  </div>
</nav>
