nav {
  margin-top: 19px;
  border-top: 1px solid #eaeff2;
  border-bottom: 1px solid #eaeff2;
}

.nav-items {
  justify-content: center;
}

.navlist {
  padding: 0 30px;
  height: 100%;

  &__item {
    cursor: pointer;
    height: 100%;
    transition: 0.3s;

    p {
      font-size: 12px;
      display: flex;
      align-items: center;
      padding: 5px 0;
    }

    &:not(.active):hover {
      color: red;
      border-bottom: 2px solid red;
      transition: 0.3s;
    }
  }

  .active {
    color: red;
    border-bottom: 2px solid red;
  }

  .dashboard {
    p::before {
      content: '';
      display: inline-block;
      transform: scale(0.6);
      width: 20px;
      height: 20px;
      background-image: url(../../assets/icons/dashboard.svg);
      background-size: cover;
    }
  }

  .reservation {
    p::before {
      content: '';
      display: inline-block;
      transform: scale(0.6);
      width: 20px;
      height: 20px;
      background-image: url(../../assets/icons/reservation.svg);
      background-size: cover;
    }
  }

  .food-menu {
    p::before {
      content: '';
      display: inline-block;
      transform: scale(0.6);
      width: 20px;
      height: 20px;
      background-image: url(../../assets/icons/foodmenu.svg);
      background-size: cover;
    }
  }

  .employeer {
    p::before {
      content: '';
      display: inline-block;
      transform: scale(0.9);
      width: 20px;
      height: 20px;
      background-image: url(../../assets/icons/employeer.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .accounting {
    p::before {
      content: '';
      display: inline-block;
      transform: scale(0.6);
      width: 20px;
      height: 20px;
      background-image: url(../../assets/icons/accounting.svg);
      background-size: cover;
    }
  }

  .help-center {
    p::before {
      content: '';
      display: inline-block;
      transform: scale(0.6);
      width: 20px;
      height: 20px;
      background-image: url(../../assets/icons/help.svg);
      background-size: cover;
    }
  }

}
