<div class="container period-selector">
  <h1>overview -</h1>
  <select>
    <option value="Mar 13" selected>Mar 13</option>
    <option value="Apr 13">Apr 13</option>
    <option value="May 13">May 13</option>
  </select>
</div>

<div class="container advantages">
  <div class="row cards">

    <div class="col-6 col-sm-6 col-md-5 col-lg-3 card">
      <div class="advantages__card">
        <div class="advantages__card__iconplace">
          <div class="icon reservation"></div>
        </div>
        <div class="advantages__card__info">
          <span>23</span>
          <p>reservation</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-5 col-lg-3 card">
      <div class="advantages__card">
        <div class="advantages__card__iconplace">
          <div class="icon menu"></div>
        </div>
        <div class="advantages__card__info">
          <span>100</span>
          <p>menu</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-5 col-lg-3 card">
      <div class="advantages__card">
        <div class="advantages__card__iconplace">
          <div class="icon employeers"></div>
        </div>
        <div class="advantages__card__info">
          <span>65</span>
          <p>employeers</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-5 col-lg-3 card">
      <div class="advantages__card">
        <div class="advantages__card__iconplace rating">
          <div class="icon rating"></div>
        </div>
        <div class="advantages__card__info">
          <span>4.9</span>
          <p>rating</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-5 col-lg-3 card">
      <div class="advantages__card">
        <div class="advantages__card__iconplace">
          <div class="icon total-dish-sold"></div>
        </div>
        <div class="advantages__card__info">
          <span>289</span>
          <p>total dish sold</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-5 col-lg-3 card">
      <div class="advantages__card">
        <div class="advantages__card__iconplace">
          <div class="icon weekly-dish-sold"></div>
        </div>
        <div class="advantages__card__info">
          <span>3500</span>
          <p>weekly dish sold</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-5 col-lg-3 card">
      <div class="advantages__card">
        <div class="advantages__card__iconplace total-income">
          <div class="icon total-income"></div>
        </div>
        <div class="advantages__card__info">
          <span>$1200</span>
          <p>total income</p>
        </div>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-5 col-lg-3 card">
      <div class="advantages__card">
        <div class="advantages__card__iconplace weekly-income">
          <div class="icon weekly-income"></div>
        </div>
        <div class="advantages__card__info">
          <span>$9.0k</span>
          <p>weekly income</p>
        </div>
      </div>
    </div>

  </div>

</div>
